@import "../../scss/_variable";

.fade-container {
     @include abs(center);
     z-index: 99;
}
.fade-loading {
     width: 3rem;
     height: 3rem;
     background-color: $newMain3;
     border-radius: 5rem;
     margin: 2rem auto;
     position: relative;
}
.fade-loading:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: inherit;
     background-color: inherit;
     animation: fade 1s forwards infinite linear;
}
@keyframes fade {
     to {
          transform: scale(2);
          opacity: 0;
     }
}
