@import "../../scss/_variable";

#memoryImg {
     transition: 0.35s ease;
}
.me__container {
     @include flex(center);

     flex-wrap: wrap;
     gap: 2px;
     transition: 0.35s ease;
}
.show__more {
     @include flex(center);
     margin-top: 50px;
     &--btn {
          outline: none;
          border: none;
          padding: 6px 13px;
          font-size: 16px;
          border: 1px solid $newMain;
          border-radius: 100rem;
          background-color: $newMain;
          box-shadow: 0 0 5px $newMain;
          color: $activeClr;
          position: relative;
          overflow: hidden;
          font-weight: 500;
          transition: 0.35s ease;

          &:hover {
               box-shadow: 0 0 12px $newMain;
               transform: scale(1.01);
          }
     }
}
.none {
     display: none;
}
.prev__img,
.next__img {
     &:active {
          opacity: 0.8;
     }
     border: none;
     font-size: 50px;
     color: $newMain3;
     background: transparent;

     @media screen and (max-width: 767px) {
          margin-top: 350px;
     }
}
.me {
     &__full {
          position: relative;
          transition: 0.4s ease;
          &--close {
               display: none;
          }
          &--overlay {
               position: absolute;
               background-color: rgba(0, 15, 5, 0.747);
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               z-index: -2;
               transition: 0.35s ease;
          }
          &--show {
               position: fixed;
               top: 0px;
               left: 0;
               width: 100%;
               height: 100%;
               z-index: 9999999;
               @include flex(between);
               display: none;
               transition: 0.35s ease;

               padding: 0 180px;
               @media screen and (max-width: 767px) {
                    padding: 0 0px;
                    justify-content: center;
                    gap: 10px;
               }
               @media screen and (min-width: 767px) and (max-width: 1380px) {
                    padding: 0 30px;
               }

               &-item {
                    @include abs(center);
                    width: 1000px;
                    height: 650px;
                    min-width: 300px;
                    border: 5px solid $mainClr;
                    box-shadow: 0 0 5px $hoverClr;
                    z-index: -1;
                    transition: 0.35s ease;

                    @media screen and (max-width: 767px) {
                         margin-top: -80px;
                         width: 100%;
                         height: 300px;
                    }
               }
          }
     }
     &__box {
          min-width: 450px;
          height: 300px;
          background: $hoverClr;

          position: relative;
          overflow: hidden;
          box-shadow: 0 0 1px $mainClr;
          transition: 0.35s ease;
          @media screen and (max-width: 767px) {
               min-width: 100%;
               height: 320px;
          }
          @media screen and (min-width: 560px) and (max-width: 800px) {
               min-width: 80%;
               height: 330px;
          }

          &:hover img {
               transform: scale(1.05);
          }
          & img {
               @include abs(full);
               transition: 0.35s ease;
               opacity: 0;

               cursor: zoom-in;
               transition: 0.5s ease-in;
          }
     }
}
