@import "../../scss/_variable";
.heading-center {
     margin-top: 60px;
     padding-top: 20px;
     @include flex(center);
     flex-direction: column;
     @media screen and (max-width: 767px) {
          margin-top: 50px;
     }
}
.heading {
     color: $mainClr;
     font-size: 34px;
     position: relative;
     @media screen and (max-width: 767px) {
          font-size: 24px;
     }

     & span {
          position: absolute;
          bottom: -7px;
          left: -10px;
          height: 2px;
          width: 20%;
          background-color: $mainClr;
     }
}
.sub {
     color: $mainClr;
     margin: 20px 0;
}
