@import "../../scss/_variable";

#contact {
     margin-top: 40px;
     padding-top: 30px;
     background: $mainClr;
}
.contact__container {
     padding-bottom: 50px;
     @include flex(center);
     // background: $mainClr;
     gap: 30px;
     @media screen and (max-width: 767px) {
          flex-direction: column;
     }
}
.contact {
     &__face {
          width: 300px;
          height: 340px;
          position: relative;
          @media screen and (max-width: 767px) {
               height: 550px;
               width: 300px;
          }
          & iframe {
               @include abs(full);
               border: none;
          }
     }
     &__map {
          width: 370px;
          height: 340px;
          position: relative;
          & iframe {
               @include abs(full);
          }
     }
     &__icon {
          padding-right: 10px;
          padding-bottom: 10px;
     }
     &__content {
          color: $hoverClr;
          flex-wrap: wrap;
          @include flex(around);
          flex-direction: column;
          align-items: flex-start;
          width: 350px;
          height: 350px;
     }
     &__box {
          padding: 0 20px;
          @media screen and (max-width: 767px) {
               padding: 0 0px;
          }
     }
     &__description a {
          color: $hoverClr;
          transition: 0.35s ease-in-out;
          &:hover {
               color: rgb(255, 255, 255);
          }
     }
}
