@import "../../scss/_variable";
.e__event {
     @include flex(center);
     flex-wrap: wrap;
     padding-top: 150px;
     padding-left: 20%;
     padding-right: 20%;
     gap: 20px;
     row-gap: 24px;
     @media screen and (max-width: 767px) {
          padding-left: 0%;
          padding-right: 0%;
          gap: 15px;
          row-gap: 20px;
     }

     &-name {
          color: white;
          text-transform: uppercase;
          line-height: 1.2;
     }
     &__container {
          outline: none;
          border: none;
          padding: 7px 15px;
          font-size: 13px;
          border: 1px solid $newMain;
          border-radius: 100rem;
          background-color: $newMain;
          box-shadow: 0 0 4px $newMain;
          color: $activeClr;
          position: relative;
          overflow: hidden;
          font-weight: 400;
          transition: 0.2s ease;

          @media screen and (max-width: 767px) {
               font-size: 11px;
          }

          &:hover {
               box-shadow: 0 0 8px $newMain;
               transform: scale(1.02);
          }
     }
}
