@import "./scss/_variable";

html {
     box-sizing: border-box;
     background-color: $hoverClr;
     scroll-behavior: smooth;
     transition: 0.35s ease-out;
}
body {
     overflow-x: hidden;
     font-family: "Roboto", sans-serif;
}
* {
     margin: 0;
     padding: 0;
}
*,
*:before,
*:after {
     box-sizing: border-box;
}
input,
textarea,
select,
button {
     outline: none;
}
input {
     line-height: normal;
}
label,
button {
     cursor: pointer;
}
a {
     text-decoration: none;
}
img {
     display: block;
     max-width: 100%;
}
/* width */
::-webkit-scrollbar {
     width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
     box-shadow: inset 0 0 2px $subClr2;
     border-radius: 100rem;
     transition: 0.35s ease;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: $newMain;

     transition: 0.35s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: $newMain;
     transition: 0.35s ease;
}
